# ======================
# POSTGRES
# ======================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# ======================
# REDIS
# ======================
REDIS_PASSWORD=changeme

# ======================
# RabbitMQ
# ======================
RABBITMQ_USER=eshop_rabbit
RABBITMQ_PASSWORD=password
